* {
    list-style: none;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: UniversalFont;
    src: url("../fonts/glyphicons-halflings-regular.woff2");
}
body{
    margin: auto;
    /* 给body加上一个min-width最小宽度，以px为单位，这样当页面变小时，
    当达到你所设置的最小宽度，body的宽度不再改变，超出的部分会用横向滚动条显示，
    其内所有元素的布局也不会受影响 */
    /* min-width: 1000px; */
}
html,body{
    height: 100%;
}
a:hover {
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
ul {
    padding: 0;
}
li{
    list-style: none;
}
p {
    margin-bottom: 0;
}
.clear {
    clear: both;
}
img {
    max-width: 100%;
}
.head{
    position: relative;
    width: auto;
    height: 123px;
    border: 1px solid transparent;
    background-color: #015FAF;
}
.head_logo{
    position: absolute;
    top: 26%;
    left: 9.7%;

    width: fit-content;
    height: fit-content;
    max-width:100%;
    max-height:100%;
    border: 1px solid transparent;
    /* margin-top: 2.23%;
    margin-left: 9.73%; */
    margin-right: 15%;
    display: inline-block;
}
.head_logo > a > img{
    width: 100%;
    height: auto;
}
.head_icon{
    position: absolute;
    top: 36%;
    left: 69.5%;
    width: fit-content;
    height: auto;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #1b6fb7;
    display: inline-block;
}
@media (max-width: 1410px) {
    .head_icon{
        display: none;
    }
}
.Weibo,.Wechat,.QQ,.Zhihu,.Toutiao,.Tiktok,.Bilibili{
    display: inline-block;
}
.Weibo,.Zhihu,.Toutiao,.Bilibili > a > img{
    width: 27px;
    height: auto;
}
.Wechat,.QQ,.Tiktok > img{
    width: 27px;
    height: auto;
}
.weixin-qrcode{
    display: none;
}
.Wechat > img:hover + .weixin-qrcode{
    position: absolute;
    display: block;
    top: 32px;
    left: 0px;
    z-index: 1;
}
.qq-qrcode{
    display: none;
}
.QQ > img:hover + .qq-qrcode{
    position: absolute;
    display: block;
    top: 32px;
    left: 0px;
    z-index: 1;
}
.douyin-qrcode{
    display: none;
}
.Tiktok > img:hover + .douyin-qrcode{
    position: absolute;
    display: block;
    top: 32px;
    left: 0px;
    z-index: 1;
}

/* 主页：华水首页 */
.HomePage > a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.HomePage{
    position: absolute;
    top: 37%;
    left: 85.4%;
    width: fit-content;
    height: auto;
    border: 1px solid transparent;
}
@media (max-width: 865px) {
    .HomePage{
        display: none;
    }
}

.main{
    position: relative;
    width: 100%;
    height: 1222px;
    overflow: hidden;
}
.LOGO_nav{
    position: relative;
    top: 8px;
    left: 8px;
    width: 138px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #f3f3f3;
    cursor: pointer;
}
.LOGO_nav_logo{
    position: absolute;
    top: 2px;
    left: 5px;
    width: 25px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.LOGO_nav_bar{
    position: absolute;
    top: 3px;
    left: 32px;
    width: 100px;
    height: fit-content;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
}
.LOGO_nav_bar > a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: "幼圆";
}

.LOGO_title{
    position: absolute;
    top: 48px;
    left: 156px;
    width: 160px;
    height: 48px;
    border: 1px solid transparent;
    border-bottom: 4px solid #015faf;
}
.LOGO_title_icon{
    position: absolute;
    width: fit-content;
    height: auto;
    border: 1px solid transparent;
}
.LOGO_title_icon > img{
    width: 36px;
}
.LOGO_title_content{
    position: absolute;
    left: 48px;
    font-size: 28px;
    color: #2c2c2c;
    font-weight: bolder;
}
.line_left{
    position: absolute;
    top: 99px;
    left: 318px;
    width: 570px;
    height: 2.4px;
    border: none;
    background-color: #cccccc;
}

.LOGO{
    position: absolute;
    top: 122px;
    left: 195px;
    width: fit-content;
    height: auto;
    border: 1px solid transparent;
}

.LOGO_content{
    position: absolute;
    top: 773px;
    left: 156px;
    width: 720px;
    height: fit-content;
    border: 1px solid transparent;
}

.DownLoad{
    position: absolute;
    top: 1087px;
    left: 156px;
    width: fit-content;
    height: fit-content;
    border: 1px solid transparent;
}

.update{
    position: absolute;
    top: 48px;
    left: 920px;
    width: 160px;
    height: 48px;
    border: 1px solid transparent;
    border-bottom: 4px solid #015faf;
}
.update_icon{
    position: absolute;
    width: fit-content;
    height: auto;
    border: 1px solid transparent;
}
.update_icon > img{
    width: 36px;
}
.update_content{
    position: absolute;
    left: 48px;
    font-size: 28px;
    color: #2c2c2c;
    font-weight: bolder;
}
.line_right{
    position: absolute;
    top: 99px;
    left: 1082px;
    width: 188px;
    height: 2.4px;
    border: none;
    background-color: #cccccc;
}

.update_timeline{
    position: absolute;
    top: 132px;
    left: 940px;
    width: 360px;
    height: 110px;
    border: 1px solid transparent;
    border-left: 1.5px solid #d2d2d2;
}
.time_point{
    position: absolute;
    margin-left: -6.5px;
    margin-top: 30px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1.5px solid #5595ca;
    background-color: #015faf;
}
.time_display:hover + .time_point{
    background-color: #fffacd;
}
.time_display{
    position: absolute;
    top: 21px;
    left: 12px;
    width: 89px;
    height: 25px;
    border: 1px solid transparent;
}

.left_triangle:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right: 7px solid #0060b0;
    position: absolute;
    top: 6px;
    left: -7px;
}
.time_content{
    position: absolute;
    top: 0;
    left: 7px;
    width: 80px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 10px;
    color: #eee;
    background-color: #0060b0;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.time_content:hover{
    background-color: #0f6bb6;
}

.update_timeline_content{
    position: absolute;
    top: 60px;
    left: 16px;
    width: 280.4px;
    height: 25px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 25px;

}
.update_timeline_content > a{
    text-decoration: none;
    font-size: 14px;
    color: #555555;
}
.update_timeline_content > a:hover{
    color: #005faf;
}
.update_timeline_icon{
    position: absolute;
    top: 25px;
    left: 307px;
    width: fit-content;
    height: auto;
    border: 1px solid transparent;
}
