@font-face {
  font-family: "iconfont"; /* Project id 2992633 */
  src: url('iconfont.woff2?t=1640159468458') format('woff2'),
       url('iconfont.woff?t=1640159468458') format('woff'),
       url('iconfont.ttf?t=1640159468458') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-henggang:before {
  content: "\eb95";
}

.icon-youjiantou:before {
  content: "\e60c";
}

.icon-youjiantou1:before {
  content: "\e72a";
}

.icon-xinwendongtai:before {
  content: "\e763";
}

.icon-gongsikouhao:before {
  content: "\e66d";
}

.icon-icon-yichang:before {
  content: "\e68c";
}

.icon-tongzhi:before {
  content: "\e651";
}

.icon-faxianyanjing:before {
  content: "\e671";
}

.icon-gengxin:before {
  content: "\f308";
}

.icon-biaoshi:before {
  content: "\e65b";
}

.icon-weibiaoti-:before {
  content: "\e603";
}

.icon-shouye1:before {
  content: "\f49b";
}

.icon-biaoqianbiaoshi:before {
  content: "\e605";
}

.icon-lishixinxi:before {
  content: "\e680";
}

.icon-shouye:before {
  content: "\e660";
}

.icon-caidan:before {
  content: "\e604";
}

.icon-caidan1:before {
  content: "\e662";
}

.icon-caidan2:before {
  content: "\e602";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-douyin1:before {
  content: "\e646";
}

.icon-toutiao:before {
  content: "\e6aa";
}

.icon-shejiaotubiao-46:before {
  content: "\e600";
}

.icon-weibo1:before {
  content: "\e63d";
}

.icon-weixin1:before {
  content: "\e63e";
}

.icon-QQ1:before {
  content: "\e641";
}

.icon-bilibili1:before {
  content: "\e6c5";
}

.icon-toutiaoyangshi:before {
  content: "\e622";
}

.icon-bilibili:before {
  content: "\e630";
}

.icon-weixin:before {
  content: "\e699";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-matuwang-zhihufangxingdianji:before {
  content: "\e611";
}

.icon-douyin:before {
  content: "\e63c";
}

